# Điền ID ThinkSpeak vào đây
VITE_CHANNEL_ID=your_ID

# Đặt là true nếu hệ thống có bộ ATS, ngược lại đặt là false
VITE_HAS_ATS=true

# Công suất tải tối đa của biến tần đang sử dụng, mặc định để 3000W
VITE_MAX_LOAD_W=3000